
/* =============================================================================
   CUSTOM THEME STYLES — Coalition Skills Test
   ============================================================================= */

body:not(.wp-core-ui) {
    h1 {
        font-size: 27px;
        line-height: 19px;
        color: #ff6200;
        font-weight: 700;
        font-family: "Open Sans";
    }

    h2 {
        font-size: 23px;
        line-height: 25px;
        color: #ff6200;
        font-weight: 400;
        font-family: "Open Sans";
    }

    p {
        margin: 0;
        font-size: 14px;
        line-height: 19px;
        color: #878787;
        font-weight: 300;
        font-family: "Ubuntu";
    }

    .container {
        width: 60vw;
        max-width: 1152px;
        margin: 0 auto;
    }

    .top-bar {
        background: #ff6200;
        padding: 10px 0;
        & a {
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: grey;
            font-family: "Bebas Neue";
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        & p {
            font-size: 15px;
            line-height: 19px;
            text-transform: uppercase;
            color: #be3600;
            font-family: "Bebas Neue";
        }

        & .dark-orange-text {
            color: #be3600;
        }

        & .white-text {
            color: #ffffff;
        }
    }

    .breadcrumbs {
        opacity: 0.780;
        font-size: 14px;
        line-height: 25px;
        color: #929292;
        font-weight: 400;
        font-family: "Ubuntu";
    }

    nav {
        li {
            font-size: 13px;
            text-transform: uppercase;
            color: #333333;
            font-family: "Myriad Pro", sans-serif; /* Myriad Pro is a licensed Adobe font and not available via Google Fonts. */
            text-align: right;
        }
    }
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.gap10 {
    gap: 10px;
}

